[Unit]
Description=tanlweb

[Service]
Type=simple
EnvironmentFile=/etc/tanlweb/%i/config
ExecStart=/usr/bin/tanlweb

[Install]
WantedBy=multi-user.target
