<!DOCTYPE html>
<html>
  <head>
    {{template "head" "Users list"}}
  </head>
  <body>
    {{template "navigation" "users"}}
    <table>
      <thead>
        <tr>
          <td>User</td>
          <td>Description</td>
          <td>Fee</td>
        </tr>
      </thead>
      <tbody>
        {{range .}}
          <tr>
            <td><a href='{{EncryptURI "users/%s" .UUID}}'>{{slice .UUID 24}}</a></td>
            <td>{{.Description}}</td>
            <td>{{.Fee}}</td>
          </tr>
        {{end}}
      </tbody>
    </table>
    <form action='{{EncryptURI "users/new"}}' method="get">
      <input type="submit" class="add-new" value="+ Add new" />
    </form>
  </body>
</html>

