<div id="navigation">
  <div>
    {{$outer := .}}
    {{with $peersR := (AuthUser .R).Scopes.Peers.HasR}}
      <a
        href='{{ EncryptURI "peers" }}'
        {{if eq $outer.Resource `peers`}}
          class="current"
        {{end}}
      >Peers</a>
    {{end}}
    {{with $usersR := (AuthUser .R).Scopes.Users.HasR}}
      <a
        href='{{ EncryptURI "users" }}'
        {{if eq $outer.Resource `users`}}
          class="current"
        {{end}}
      >Users</a>
    {{end}}
    {{with $nodesR := (AuthUser .R).Scopes.Nodes.HasR}}
      <a
        href='{{ EncryptURI "nodes" }}'
        {{if eq $outer.Resource `nodes`}}
          class="current"
        {{end}}
      >Nodes</a>
    {{end}}
  </div>
  {{if (AuthUser .R).Scopes.Users.HasR}}
    <a style="margin-left: auto" href='{{EncryptURI "users/%s" (AuthUser .R).ID}}'>Me</a>
  {{end}}
</div>
