<!DOCTYPE html>
<html>
  <head>
    {{template "head"}}
  </head>
  <body>
    {{template "navigation" "nodes"}}
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Base URI</td>
        </tr>
      </thead>
      <tbody>
        {{range .}}
          <tr>
            <td><a href='{{EncryptURI "nodes/%s" .UUID}}'>{{.Name}}</a></td>
            <td>{{.BaseURI}}</td>
          </tr>
        {{end}}
      </tbody>
    </table>
    <form action='{{EncryptURI "nodes/new"}}' method="get">
      <input type="submit" class="add-new" value="+ Add new" />
    </form>
  </body>
</html>

