<div id="node-view" hx-swap-oob="true">
  {{if .UUID}}
    <h2>View &amp; edit node</h2>
  {{else}}
    <h2>Add new node</h2>
  {{end}}

  <form
    id="node-config-form"
    hx-swap="none"
    {{if .UUID}}
      hx-put='{{EncryptURI "nodes/%s" .UUID}}'
    {{else}}
      hx-post='{{EncryptURI "nodes"}}'
    {{end}}
    hx-disabled-elt="find input[type='submit']"
  >
    <label for="name" class="required">Name</label>
    <span id="invalid-name"></span>
    <input id="name" name="name" type="text" value="{{.Name}}" />

    <label for="base-uri" class="required">Base URI</label>
    <span id="invalid-base-uri"></span>
    <input id="base-uri" name="base-uri" type="text" value="{{.BaseURI}}" />

    <input
      class="submit"
      type="submit"
      value="{{if .UUID}}Save{{else}}Create{{end}}"
    />
  </form>
</div>
