@font-face {
    font-family: 'Hack Nerd Font Mono Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Hack Nerd Font Mono Regular'), url('/static/fonts/HackNerdFontMono-Regular.ttf') format('truetype');
}

body {
  font-size: 12pt;
  font-family: 'Hack Nerd Font Mono Regular';
  margin: 15pt;
  max-width: 500pt;
}

a {
  color: #3483eb;
}

a:not([href]) {
  text-decoration: none;
  color: #8483eb;
}

main *:not(h1, h2, h3, div, button, span) {
  margin-left: 5pt;
}

hr {
  margin-top: 20pt;
}

pre {
  color: rgb(60, 60, 60);
  background-color: rgb(230, 230, 230);
  border-radius: 7px;
}

pre.inline {
  display: inline-block;
  margin: 2pt 0;
  padding: 1pt 6pt;
}

/* Navigation */

#navigation {
  margin-bottom: 10pt;
}

#navigation > a {
  text-decoration: none;
  color: #3483eb;
}

#navigation > a.current {
  text-decoration: underline;
}

/* Forms */

form > * {
  display: block;
  margin: 5pt 0;
  font-size: 12pt;
  font-family: 'Hack Nerd Font Mono Regular';
}

form .error {
  font-size: 10pt;
  color: #eb3434;
}

form > label {
  margin-top: 10pt;
}

form > input[type=submit] {
  margin-top: 15pt;
}

form > input[type=text] {
  width: 100%;
  max-width: 300pt;
  box-sizing: border-box;
}

input[type="checkbox"] {
  display: inline-block;
}

label.checkbox {
  display: inline-block;
  margin-left: 1pt;
}

label.required::after {
  content: " *";
  color: #eb3434;
}

/* Fields */

.field {
  margin-top: 5pt;
  display: block;
}

.field * {
  display: inline;
}

.field > .name {
  font-weight: 700;
  margin-bottom: 5pt;
}

/* Notifications */

#notifications-container {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@keyframes notification-fadein {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes notification-disappear {
  from { }
  to { margin: 0; height: 0; padding: 0; }
}

.notification {
  background-color: rgb(200, 200, 200);
  margin: 5pt;
  padding: 5pt;

  animation-name: notification-fadein, notification-disappear;
  animation-duration: 4s, 1s;
  animation-delay: 3s, 5s;
  animation-fill-mode: forwards, forwards;
}

.notification-fatal {
  background-color: rgb(200, 130, 130);
}

.notification .ok {
  color: rgb(34, 186, 34);
}

.notification .error {
  color: #eb3434;
}

/* Tables */

table {
  margin: 5pt;
  margin-top: 20pt;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table thead {
  background-color: rgb(220, 220, 220);
}

table tr.disabled {
  background-color: rgb(240, 150, 150);
}

table td {
  padding: 5pt;
  border: 1px solid;
  border-color: rgb(150, 150, 150);
}

input.add-new {
  margin: 10pt;
}

/* Users */

#user-paid-until-form {
  margin-top: 20pt;
}

#user-paid-until-form .submit {
  margin-top: 7pt;
}

#user-status-form {
  margin-top: 20pt;
}

#user-status-form .submit {
  margin-top: 7pt;
}

.user-status-active {
  color: #238c3f;
}

.user-status-banned {
  color: #b02121;
}

/* Peer */

#inteface-name-container {
  padding: 0;
  margin: 0;
}

#interface-name-container > * {
  display: inline;
}

#interface-name-container > input {
  font-size: 12pt;
}

#interface-name-container > span {
  margin-left: 0;
}

.current-state {
  text-decoration: underline;
}

.state-trans {
  font-size: 15pt;
}

.request-cancelled {
  color: #b02121;
}

.request-created {
  color: #238c3f;
}

#config-url-container {
  margin-top: 5pt;
  cursor: pointer;
}

#config-url-label {
  margin-bottom: 1.5pt;
  font-weight: 700;
}

#config-url {
  margin-top: 1.5pt;
}
