<!DOCTYPE html>
<html>
  <head>
    {{template "head"}}
  </head>
  <body>
    {{template "navigation" (NavParams .R "users")}}
    <table>
      <thead>
        <tr>
          <td>User</td>
          <td>Name</td>
          <td>Fee</td>
        </tr>
      </thead>
      <tbody>
        {{range .Users}}
          <tr>
            <td><a href='{{EncryptURI "users/%s" .UUID.String}}'>{{ShortenUUID .UUID.String}}</a></td>
            <td>{{.Profile.Name}}</td>
            <td>{{.Profile.Fee}}</td>
          </tr>
        {{end}}
      </tbody>
    </table>
    {{if (AuthUser .R).Scopes.Users.HasW}}
      <form action='{{EncryptURI "users/new"}}' method="get">
        <input type="submit" class="add-new" value="+ Add new" />
      </form>
    {{end}}
  </body>
</html>

