<div id="user-view" hx-swap-oob="true">
  {{$readonly := not (AuthUser .R).Scopes.Users.HasW}}

  {{if .New}}
    <h2>Add new user</h2>
  {{else}}
    <h2>View &amp; edit user</h2>
  {{end}}

  <form
    id="user-config-form"
    hx-swap="none"
    autocomplete="off"
    {{if .New}}
      hx-post='{{EncryptURI "users"}}'
    {{else}}
      hx-put='{{EncryptURI "users/%s" .UUID.String}}'
    {{end}}
    hx-disabled-elt="find input[type='submit']"
  >
    {{if not .New}}
      <div class="field">
        <p class="name">UUID:</p>
        <p class="value">{{.User.UUID}}</p>
      </div>
    {{end}}

    <label for="name" class="required">Unique name (at least one alphanum char; seen only by admins)</label>
    <span id="invalid-name"></span>
    <input id="name" name="name" type="text" value="{{.Profile.Name}}"
      {{if $readonly}}
        disabled
      {{end}}/>

    <details>
      <summary>Scopes (grant only to admin users)</summary>
      <ul>
        <li>
          nodes (beware that this scope allows user to see and update node mTLS certs and keys!)
          <div>
            <input type="checkbox" name="scope-nodes-read"
              {{if .Profile.Scopes.Nodes.HasR}}
                checked
              {{end}}
              {{if $readonly}}
                disabled
              {{end}}
             />
            <label for="scope-nodes-read" class="checkbox">:r</label>
          </div>
          <div>
            <input type="checkbox" name="scope-nodes-write"
              {{if .Profile.Scopes.Nodes.HasW}}
                checked
              {{end}}
              {{if $readonly}}
                disabled
              {{end}}
             />
            <label for="scope-nodes-write" class="checkbox">:w</label>
          </div>
        </li>
        <li>
          users
          <div>
            <input type="checkbox" name="scope-users-read"
              {{if .Profile.Scopes.Users.HasR}}
                checked
              {{end}}
              {{if $readonly}}
                disabled
              {{end}}
            />
            <label for="scope-users-read" class="checkbox">:r</label>
          </div>
          <div>
            <input type="checkbox" name="scope-users-write"
              {{if .Profile.Scopes.Users.HasW}}
                checked
              {{end}}
              {{if $readonly}}
                disabled
              {{end}}
            />
            <label for="scope-users-write" class="checkbox">:w</label>
          </div>
        </li>
        <li>
          peers
          <div>
            <input type="checkbox" name="scope-peers-read"
              {{if .Profile.Scopes.Peers.HasR}}
                checked
              {{end}}
              {{if $readonly}}
                disabled
              {{end}}
            />
            <label for="scope-peers-read" class="checkbox">:r</label>
          </div>
          <div>
            <input type="checkbox" name="scope-peers-write"
              {{if .Profile.Scopes.Peers.HasW}}
                checked
              {{end}}
              {{if $readonly}}
                disabled
              {{end}}
            />
            <label for="scope-peers-write" class="checkbox">:w</label>
          </div>
        </li>
      </ul>
    </details>

    <label for="fee">Fee (leave empty if you don't want to charge the user)</label>
    <input id="fee" name="fee" type="text" value="{{.Profile.Fee}}"
      {{if $readonly}}
        disabled
      {{end}}
    />

    <input
      class="submit"
      type="submit"
      {{if $readonly}}
        disabled
      {{end}}
      value="{{if .New}}Create{{else}}Save{{end}}"
    />
  </form>

  {{if not .New}}
    <hr>

    <form
      id="user-paid-until-form"
      autocomplete="off"
      hx-swap="none"
      hx-put='{{EncryptURI "users/%s/paid-until" .User.UUID.String}}'
      hx-disabled-elt="find input[type='submit']"
    >
      <div id="user-paid-until-container" class="field">
        <p class="name">Paid until:</p>
        <input
          type="date"
          name="paid-until"
          {{if ne .PaidUntil .ConstTimeZero}}
            value="{{FormatDate .PaidUntil}}"
          {{end}}
          {{if or $readonly (not .Profile.Fee)}}
            disabled
          {{end}}
        >
      </div>
      {{if not .Profile.Fee}}
        <p>
          This user is not charged and won't be suspended after the end of the paid period.
        </p>
      {{else}}
        <input class="submit" type="submit" value="Update"
          {{if $readonly}}
            disabled
          {{end}}
        />
      {{end}}
    </form>

    <hr>
  
    <form
      id="user-status-form"
      autocomplete="off"
      hx-swap="none"
      hx-put='{{EncryptURI "users/%s/ban" .User.UUID.String}}'
      hx-disabled-elt="find input[type='submit']"
    >
      <div id="user-status-container" class="field">
        <p class="name">Status:</p>
        {{if .IsBanned}}
          <p class="user-status-banned">
            Banned
          </p>
        {{else}}
          <p class="user-status-active">
            Active
          </p>
        {{end}}
      </div>
      <!-- TODO: show suspended status -->
      <input
        name="ban"
        type="hidden"
        {{if .IsBanned}}
          value="false"
        {{else}}
          value="true"
        {{end}}
      />
      <input class="submit" type="submit" value="{{if .IsBanned}}Unban{{else}}Ban{{end}}"
        {{if $readonly}}
          disabled
        {{end}}
      />
    </form>

    <hr>

  {{end}}
</div>

{{if .Owned}}
  <div id="peers-list" hx-swap-oob="true">
    <!-- TODO: make peers/requests list reusable -->
    {{if .Owned.PendingPeerRequests}}
      <h3>Pending peer requests ({{len .Owned.PendingPeerRequests}})</h3>
      <table>
        <thead>
          <tr>
            <td>ID</td>
          </tr>
        </thead>
        <tbody>
          {{range .Owned.PendingPeerRequests}}
            <tr>
              <td>
                <a href='{{EncryptURI "peers/requests/%s" .RandomID}}'>{{.RandomID}}</a>
              </td>
            </tr>
          {{end}}
        </tbody>
      </table>
    {{end}}

    <h3>Peers ({{len .Owned.Peers}})</h3>
    <form action='{{EncryptURI "users/%s/peers/new" .UUID.String}}' method="get">
      <input type="submit" class="add-new" value="+ Add new"
        {{if not (AuthUser .R).Scopes.Peers.HasW}}
          disabled
        {{end}}
       />
    </form>
    <table>
      <thead>
        <tr>
          <td>Public key</td>
          <td>Node</td>
        </tr>
      </thead>
      <tbody>
        {{range .Owned.Peers}}
          <tr>
            <td>
              <a href='{{EncryptURI "peers/%s" .PublicKey}}'>{{.PublicKey}}</a>
            </td>
            <td>
              <a href='{{EncryptURI "nodes/%s" .Node.UUID.String}}'>{{.Node.Name}}</a>
            </td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </div>
{{end}}
