<span id="invalid-name" class="error" hx-swap-oob="true"> 
  {{if .NameNotUnique}}
    Name is not unique
  {{else if .EmptyName}}
    Required
  {{end}}
</span>
<span id="invalid-base-url" class="error" hx-swap-oob="true">
  {{if .InvalidBaseURL}}
    Invalid base URL
  {{end}}
</span>
<span id="invalid-allowed-ips" class="error" hx-swap-oob="true">
  {{if .InvalidAllowedIPs}}
    Invalid allowed IPs
  {{end}}
</span>
<span id="invalid-tls-client-keypair" class="error" hx-swap-oob="true">
  {{if .InvalidClientKeypair}}
    Invalid client keypair
  {{end}}
</span>
<span id="invalid-tls-server-cert" class="error" hx-swap-oob="true">
  {{if .InvalidServerCert}}
    Invalid server cert
  {{end}}
</span>
