<!DOCTYPE html>
<html>
  <head>
    {{template "head"}}
  </head>
  <body>
    {{template "navigation" (NavParams .R "nodes")}}
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Base URI</td>
        </tr>
      </thead>
      <tbody>
        {{range .Nodes}}
          <tr>
            <td><a href='{{EncryptURI "nodes/%s" .Node.UUID.String}}'>{{.Node.Name}}</a></td>
            <td>{{.Node.BaseURL.String}}</td>
          </tr>
        {{end}}
      </tbody>
    </table>
    <form action='{{EncryptURI "nodes/new"}}' method="get">
      <input type="submit" class="add-new" value="+ Add new"
      {{if not (AuthUser .R).Scopes.Nodes.HasW}}
        disabled
      {{end}}
       />
    </form>
  </body>
</html>

