<div id="node-view" hx-swap-oob="true">
  {{$readonly := not (AuthUser .R).Scopes.Nodes.HasW}}

  {{if not .New}}
    <h2>View &amp; edit node</h2>
  {{else}}
    <h2>Add new node</h2>
  {{end}}

  <form
    id="node-config-form"
    autocomplete="off"
    hx-swap="none"
    {{if not .New}}
      hx-put='{{EncryptURI "nodes/%s" .Node.UUID.String}}'
    {{else}}
      hx-post='{{EncryptURI "nodes"}}'
    {{end}}
    hx-disabled-elt="find input[type='submit']"
  >
    <label for="name" class="required">Name</label>
    <span id="invalid-name"></span>
    <input id="name" name="name" type="text" value="{{.Node.Name}}"
      {{if $readonly}}
        disabled
      {{end}}
    />

    <label for="base-url" class="required">Base URL (with HTTPS scheme)</label>
    <span id="invalid-base-url"></span>
    <input id="base-url" name="base-url" type="text"
      {{if not .New}}
        value="{{.Node.BaseURL.String}}"
      {{end}}
      {{if $readonly}}
        disabled
      {{end}}
    />

    <label for="allowed-ips" class="required">AllowedIPs (for peers)</label>
    <span id="invalid-allowed-ips"></span>
    <textarea name="allowed-ips" type="text" value="{{.Node.AllowedIPs.String}}"
      rows="7"
      {{if $readonly}}
        disabled
      {{end}}
    >{{.Node.AllowedIPs.String}}</textarea>

    {{if not .New}}
      <details>
        <summary>TLS certs</summary>
    {{end}}

    <label for="tls-client-key" class="required">TLS client key</label>
    <span id="invalid-tls-client-keypair"></span>
    <textarea name="tls-client-key" type="text" value="{{.Node.TLSConf.ClientKey}}"
      rows="52"
      {{if $readonly}}
        disabled
      {{end}}
    >{{.Node.TLSConf.ClientKey}}</textarea>

    <label for="tls-client-cert" class="required">TLS client cert</label>
    <span id="invalid-tls-client-keypair"></span>
    <textarea name="tls-client-cert" type="text" value="{{.Node.TLSConf.ClientCert}}"
      rows="31"
      {{if $readonly}}
        disabled
      {{end}}
    >{{.Node.TLSConf.ClientCert}}</textarea>

    <label for="tls-server-cert" class="required">TLS server cert</label>
    <span id="invalid-tls-server-cert"></span>
    <textarea name="tls-server-cert" type="text" value="{{.Node.TLSConf.ServerCert}}"
      rows="31"
      {{if $readonly}}
        disabled
      {{end}}
    >{{.Node.TLSConf.ServerCert}}</textarea>

    {{if not .New}}
      </details>
    {{end}}

    <input
      class="submit"
      type="submit"
      value="{{if not .New}}Save{{else}}Create{{end}}"
      {{if $readonly}}
        disabled
      {{end}}
    />
  </form>
</div>
